@import "./reset.css";

@font-face {
  font-family: "IRANSans";
  src: url(./Fonts/IRANSans.ttf);
}
@font-face {
  font-family: "IRANSansBold";
  src: url(./Fonts/IRANSansBold.ttf);
}
@font-face {
  font-family: "IRANSansLight";
  src: url(./Fonts/IRANSansLight.ttf);
}
@font-face {
  font-family: "IRANSansMedium";
  src: url(./Fonts/IRANSansMedium.ttf);
}
@font-face {
  font-family: "IRANSansUltraLight";
  src: url(./Fonts/IRANSansUltraLight.ttf);
}
:root {
  --dark: #101010;
  --white: #dfdddd;
}
[data="dark"] {
  --dark: #ffffff;
  --white: #000000;
}

*,
html,
body {
  font-family: IRANSans;
}

html {
  direction: rtl;
}





body.dark {
  background-color: var(--dark) !important;
  color: var(--dark);
}
body.dark .sidebar {
  background-color: var(--dark);
  color: var(--white) !important;
}

body.dark .main {
  background-color: var(--dark) !important;
  color: var(--white) !important;
}
body.dark .btn {
  color: var(--white) !important;
}
body.dark .sb-li{
  color: var(--white) !important;
}
body.dark .sb-li.active{
  color:var(--dark)!important;
  background-color: var(--white);
}