@import "./reset.css";

@font-face {
  font-family: "IRANSans";
  src: url(./Fonts/IRANSans.ttf);
}
@font-face {
  font-family: "IRANSansBold";
  src: url(./Fonts/IRANSansBold.ttf);
}
@font-face {
  font-family: "IRANSansLight";
  src: url(./Fonts/IRANSansLight.ttf);
}
@font-face {
  font-family: "IRANSansMedium";
  src: url(./Fonts/IRANSansMedium.ttf);
}
@font-face {
  font-family: "IRANSansUltraLight";
  src: url(./Fonts/IRANSansUltraLight.ttf);
}
:root {
  --dark: #101010;
  --white: #dfdddd;
}
[data="dark"] {
  --dark: #dfdddd;
  --white: #101010;
}

*,
html,
body {
  font-family: IRANSans;
}

html {
  direction: rtl;
}





body.dark {
  background-color: #000000 !important;
  color: #000000;
}
body.dark .sidebar {
  background-color: #000000;
  color: rgb(255, 255, 255) !important;
}

body.dark .main {
  background-color: #0b0b0b !important;
  color: rgb(255, 255, 255) !important;
}
body.dark .btn {
  color: rgb(255, 255, 255) !important;
}
